*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.8;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4183c4;
  text-decoration: none;
}


.banner {
  background-image: url(../images/banner.png);
  background-size : 100% 100%;
  height : 40em;
  width : 100%;
  margin-top : 5%;
  display : flex;
  align-items: flex-end;
  justify-content: center;
}



.fs-2em{
    font-size:2.2rem;
}

section{
    margin-top:80px;
}
.upcoming-meetup {

    height: 20em;
    /* margin-top: 20%; */
    display: flex;
    justify-content: space-around;
    width: 100%;

  height : 20em;
  background-color: lightgreen;
  display : flex;
  justify-content: center;
  align-items: flex-end;
}





.project-card{
    border: 1px solid black;
    margin: 10px 10px;
    text-align: center;
    min-height: 30rem;


}






.job-card {
  background-color: lightpink;
  padding : 10px;
  height : 30%;
  border : 1px solid black;
  margin : 5px 10px;
}

footer {
  margin-top : 10%;
}

.join-us {
 margin-top:10%;
}




@media (max-width : 480px) {
  .banner{
        height: 18em;
  }
}



